@import '../../sass/mixin.sass'
    
.login
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 100vh

    &__logo
        display: flex
        flex-direction: column
        margin-bottom: 5em
        
        img
            max-height: 150px
            object-fit: contain

    &__button
        max-width: 300px
        width: 100%
        background-color: #2e81f4 !important
        color: #eff2f5 !important
        font-weight: 800 !important